.wrapper {
    min-width: 150px;
    max-width: 300px;
    margin-top: 24px;
    padding: 16px;
    text-align: left;
    background-color: #f6f9fb;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.05);
}

.type {
    color: #b2b7b9;
    font-weight: 12px;
    text-transform: capitalize;
}

.quantity {
    font-size: 14px;
    font-weight: bold;
}